.auth-inner {
  width: 450px;
  min-height: 380px;
  margin: auto;
  background: var(--white-1);
  padding: 40px 55px 45px;
  transition: all 0.3s;
}

.alerts {
  padding: 0.5rem 1.25rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.alert-error {
  background-color: var(--red-7);
  border-color: var(--red-8);
  color: var(--red-6);
}

.alert-success {
  color: var(--green-1);
  background-color: var(--green-2);
  border-color: var(--green-3);
}

.form-input-container .form-input {
  font-size: 100px;
}

.auth-form {
  .form-input-container {
    margin-bottom: 20px;

    .checkmark-container {
      display: flex;
      align-items: baseline;
      font-size: 14px;
      cursor: pointer;
      user-select: none;

      input {
        margin-right: 10px;
        cursor: pointer;
      }
    }

    .error {
      border: 1px solid var(--error);
    }
  }

  .auth-button {
    color: var(--white-1);
    background-color: var(--primary-1);
    border-color: var(--primary-1);
    display: block;
    width: 100%;
    font-weight: 700;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      pointer-events: none;
      background-color: var(--primary-1);
      opacity: 0.5;
    }
  }


  .forgot-password {
    display: flex;
    padding-top: 10px;
    cursor: pointer;
    justify-content: flex-end;

    .arrow-right {
      margin-left: 2px;
      margin-top: 2px;
    }

    &:hover {
      color: var(--primary-1);
    }
  }
}
