.private-chat-wrapper {
  height: calc(100vh - 75px);
  // max-width: 1152px;
  // margin: auto;
  margin-right: 20px;
  &-content {
    // position:relative;
    margin-top: 20px;
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "side message";
    flex-grow: 1;
    background-color: var(--white-1);
    height: calc(100vh - 95px);

    &-side {
      grid-area: side;
      flex-basis: 300px;
      border-right: 1px solid var(--white-4);
      padding: 0 15px;
      height: calc(100vh - 95px);
    }

    &-conversation {
      grid-area: message;
      flex-grow: 1;
      height: calc(100vh - 95px);
      // height: calc(100vh - 20px);

      .no-chat {
        color: var(--black-3);
        font-weight: 700;
        font-size: 18px;
        position: absolute;
        padding: 20px;
        background-color: var(--white-1);
        width: 50%;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
      }
    }
  }
}
