.auth-form {
  .form-input-container {
    margin-bottom: 20px;
    .error {
      border: 1px solid var(--error);
    }
  }

  .auth-button {
    color: var(--white-1);
    background-color: var(--primary-1);
    border-color: var(--primary-1);
    display: block;
    width: 100%;
    font-weight: 700;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      pointer-events: none;
      background-color: var(--primary-1);
      opacity: 0.5;
      border-color: var(--primary-1);
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
